body 
{
    background: rgb(34, 31, 20);

}

#canvas1 
{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background-image: url("backgroundImage.jpg");
    font-family: 'Orbitron', sans-serif;
    background-size: cover;
}

#MainBorder 
{
    background-image: url(Main-Border1.png);
    position: absolute;
    background-repeat: round;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 650px;
}

